@import "../../styles/vars.styl";

.table
  font-size: 16px

  td
    padding: 4px 0
    margin: 0
    border-top: 1px solid rgba(#dadada, .1)

  th
    vertical-align: top
    text-align: left

  .index
    text-align: right
    opacity: 0.4
    font-size: 80%
    padding-right: 8px

  .date
    padding-right: 12px

  .small
    font-size: 60%
    color: #cccccc

  .currency
    text-align: right
    vertical-align: top
    padding-left: 18px
    font-size: 120%

  .text_right
    text-align: right

  .type
    padding-left: 8px

  .buy
    color: $success

  .sell
    color: $danger
