@import "../../styles/vars.styl";

.wrapper
  padding: 0 12px

.table
  font-size: 20px

  td
    padding: 2px 0
    margin: 0
    border-top: 1px solid rgba(#dadada, .1)

  th
    vertical-align: top

  .row
    cursor: pointer
    anim()
    &:hover
      .buttons
        opacity: 1
      .name
        text-decoration: underline

  .selected
    background: lighten($success, 90%)

  .logo
    min-width: 30px
    min-height: 30px
    max-width: 30px
    max-height: 30px
  .logoImg
    display: block
    margin: 0 auto
    max-width: 30px
    max-height: 30px
    font-size: 0

  .index
    text-align: right
    opacity: 0.4
    font-size: 80%
    padding-right: 8px

  .currency
    text-align: right
    vertical-align: top
    padding-left: 18px

  .small
    font-size: 50%
    color: #cccccc
    //opacity: .3

  .name
    //width: 100%
    text-align: left
    padding-left: 4px

  .percent
    display: inline-block
  .change
    display: inline-block
    width: 50px

  .up
    color: $success

  .down
    color: $danger

  .link
    border-bottom: 1px solid #0d47a1
    text-decoration: none

    &:hover
      border-bottom: 1px solid transparent

  .buttons
    opacity: 0
    padding-right: 4px
    anim()

  .button
    margin-left: 4px
    display: inline-block
    vertical-align: middle
    text-align: center
    width: 24px
    height: 24px
    line-height: 24px
    font-size: 14px
    border-radius: 50%
    border: 0
    background: $secondary
    color: lighten($secondary, 50%)
    cursor: pointer
    outline: 0
    anim()

    &:hover
      background: darken($secondary, 10%)

    &:active, &.active
      background: darken($secondary, 30%)