.wrapper
  padding: 0 12px

.table
  width: 100%
  font-size: 20px

  td
    padding: 2px 0
    margin: 0
    border-top: 1px solid rgba(#dadada, .1)

  th
    vertical-align: top

  .logo
    min-width: 30px
    min-height: 30px
    max-width: 30px
    max-height: 30px
  .logoImg
    display: block
    margin: 0 auto
    max-width: 30px
    max-height: 30px

  .index
    text-align: right
    opacity: 0.4
    font-size: 80%
    padding-right: 8px

  .currency
    text-align: right
    vertical-align: top
    padding-left: 18px

  .balance
    font-size: 120%

  .small
    font-size: 50%
    color: #cccccc
    //opacity: .3

  .title
    width: 100%
    text-align: left
    padding-left: 4px

  .percent
    display: inline-block
  .change
    display: inline-block
    width: 50px

  .up
    color: #66bb6a

  .down
    color: #ef5350

  .link
    border-bottom: 1px solid #0d47a1
    text-decoration: none

    &:hover
      border-bottom: 1px solid transparent