@import "../../styles/vars.styl";

@font-face {
  font-family: 'DINPro';
  src: url('../../fonts/DINPro-Regular.woff2') format('woff2'),
          url('../../fonts/DINPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body, :global(#app)
  padding: 0
  margin: 0
  height: 100%

html
  position: relative
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  font-family: 'DINPro', sans-serif

*, :after, :before
  box-sizing: border-box

table
  border-collapse: collapse

.app
  margin: 0
  padding: 0
  height: 100%
  display: flex
  flex-direction: column

.content
  display: flex
  flex-direction: row
  flex: 1

.balances
  width: 520px
  
.balances, .aside
  height: 100%
  overflow: auto

.aside
  flex: 1